<div class="container-md">
    <div *ngIf="isLoading" class="d-flex justify-content-center">
        <div class="spinner-grow text-warning" role="status">
        </div>
    </div>
    <div *ngIf="!isLoading" class="row">
        <h2 class="text-center">
            {{ pokemon.displayName }}
        </h2>
    </div>
    <div *ngIf="!isLoading" class="row justify-content-center pokemon-details">
        <div class="col-9">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img [src]="pokemon?.imageUrl" [alt]="pokemon?.name" class="img-fluid">
                </div>
                <div class="col-md-4">
                    <h5>Characteristics:</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-item"><b>XP: </b>{{ pokemon?.exp }}</li>
                        <li class="list-group-item list-item"><b>Height: </b>{{ pokemon?.height }}m</li>
                        <li class="list-group-item list-item"><b>Weight: </b>{{ pokemon?.weight }}Kg</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Abilities:</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-item" *ngFor="let ability of pokemon?.abilities">
                            {{ ability }}
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
    <div *ngIf="!isLoading" class="row justify-content-center">
        
        <div class="text-center" *ngIf="!evolutions.length">
            <p>This Pokemon doesn't have evolutions</p>
        </div>
        <div *ngIf="!!evolutions.length" class="col-9 evolutions-container">
            <h5 class="text-center">Evolutions</h5>
            <div class="row">
                <div *ngFor="let evolution of evolutions" class="col text-center">
                    <img [src]="evolution.imageUrl" 
                        [alt]="evolution.name" 
                        class="img-fluid clickable"
                        (click)="onEvolutionClick( evolution )">
                    <h5 class="">{{ evolution.displayName }}</h5>
                </div>
            </div>
            
        </div>
        
    </div>
    <div *ngIf="!isLoading" class="row justify-content-center moves-collapse-button">
        <div class="col-3 text-center">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMoves" aria-expanded="false" aria-controls="collapseMoves">
                Pokemon Moves
            </button>
            <div class="collapse" id="collapseMoves">
                <div class="card card-body moves-collapsible">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-item" *ngFor="let move of pokemon?.moves">
                            {{ move }}
                        </li>
                    </ul>
                </div>
            </div>            
        </div>
    </div>
</div>

