.moves-collapsible {
    background-color: rgba(0, 0, 0, 0.068);   
}

.moves-collapse-button {
    padding: 20px;
}

.evolutions-container {
    padding: 10px;
    background-color: rgba(0, 60, 255, 0.144);
    border: 1px dotted gold;
}

.list-item {
    background-color: rgba(255, 217, 0, 0.089);
    color: white;
}

.pokemon-details {
    padding: 20px;
}